@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* letter-spacing: 0.1rem; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: #22222281;
  background: rgb(78,98,254);
  background: linear-gradient(114deg, rgba(78,98,254,1) 0%, rgba(63,163,207,1) 52%, rgba(2,65,155,1) 100%);
  background-size: cover;
  color: whitesmoke;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

ul {
  margin: 0;
  list-style: none;
  padding:0
}

#root{
  height: 100vh;
  display: flex;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  overflow: hidden;  
  text-align: center;
  margin: auto;
  padding: 0.6rem;
  /* mix-blend-mode: multiply; */
  aspect-ratio: 0.46 / 1;
  /* height: 60rem; */
  width: 400px;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);  
  background: rgb(6, 23, 48);
  background: radial-gradient(circle, rgba(18,55,107,1) 0%, rgba(0,10,24,1) 100%);
  box-shadow: 1px 1px 500px 1px rgba(0, 0, 0, 0.192);
  border-radius: 85px;
}

.main-content {
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 1rem;
  height: 75%;
  background: rgb(21,192,246);
  background: linear-gradient(210deg, rgba(21,192,246,1) 0%, rgba(19,110,243,1) 100%);
  border: 1px solid rgba(21,192,246,1);
  border-style: ridge;
  border-radius: 75px;
  box-shadow: 0px 40px 1px -30px #124e97;
}

.extra-content {
  height: 25%;
  margin-top: 0.6rem;
  background: rgb(21,192,246, 0);
  border-radius: 70px;
}
  
.heading {
  margin-top: 60%;
  margin-bottom: 5vh;
}

.input-container {
  position: relative;  
}

input {
  padding: 0.35rem;
  padding-left: 0.8rem;
  background-color: transparent;
  border: 1px solid whitesmoke;
  /* border-style: ridge; */
  outline-color: whitesmoke;
  outline: thin;
  font-size: 1.2rem;
  color: whitesmoke; 
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02rem;
}
input::placeholder {
  color: rgb(212, 212, 212);
  text-align: center;
}
input:hover {
  background-color: #06193318;
}
input:focus {
  background-color: #06193318;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  text-align: left;
  font-size: 1rem;
  padding: 0.2rem 0.8rem;
  min-width: 100%;
  /* border: unset; */
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02rem;
}

button:hover {
  background-color: #081d3c;
  color: whitesmoke
}

.input-container {
}

.list-container {
  position: absolute;
  width: 100%;
}

.display-container {
  background-color: whitesmoke;
  min-height: 100%;
  max-width: 100%;
}

.current-location {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.location-icon {
  display: inline-block;
  padding-top: 0.25rem;
  /* margin-right: 0.5rem; */
}
.city {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0 0.5rem;
}
.country {
  display: inline-block;
  /* margin-left: */
  font-size: 1rem;
  font-weight: 400;
}

.current-weather-icon {
  padding: 10;
  margin: 0;
}

.temp {
  /* padding-top: 0; */
  font-size: 8rem;
  font-weight: 900;
  margin-top: -0.5rem;
  margin-bottom: -1.2rem;  
}
.temp-degree {
 position: relative;
}
.temp-degree .degree{
  position: absolute;
  top: 15px;
  right: -25px;
  font-size: 4rem;
  color: rgba(245, 245, 245, 0.466);
}

.weather-type {
  font-size: 1.8rem;
}

.feels-like {
 
}

.additional-info {
  display: grid;
  min-width: 100%;
  margin-top: 4rem;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: pink; */
}

.small-text {
  font-size: 0.8rem;
}

.light-text {
  color: rgba(245, 245, 245, 0.562);


}
